-#######################################################################
-# Copy and paste from
-# https://developers.facebook.com/docs/facebook-login/web/login-button
-# with ENV['FACEBOOK_KEY'] inserted:

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0&appId=#{ENV['FACEBOOK_KEY']}"></script>
